.footer {
color: #545454;
padding: 0;
margin: 0 auto 60px auto;
width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
  width: calc(100% - (19px * 2));
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin-bottom: 36px;
  }
}