.login__link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 15px;
  }
  
  .login__link:hover {
    opacity: 0.6;
  }