.header__page-link {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    color: #A9A9A9;
    text-decoration: none;
  }

  .header__page-link:hover{
    opacity: 0.6;
  }

  @media screen and (max-width:480px) {
    .header__page-link {
    margin: 0;    }
}